

<div fxLayout="row" fxLayoutAlign="center center">
  <div>

    <h1>Circus Social Interview Test</h1>
    <p>
        This is a basic app which uses Twitter authentication for sign in.
      </p>
  
      <p>
        Created by- Anshuman Singh
      </p>
      <p>
          Contact- 91-7086834055/8310855021
        </p>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Authentication</mat-card-title>
        <mat-card-subtitle>Login with Twitter</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p style="text-align: center">
        
          <a [href]="apiEndpoint" mat-raised-button color="primary"> Twitter Login</a>
        </p>
      </mat-card-content>
    
    </mat-card>

    

  </div>
</div>
