<mat-card class="example-card">
   
    <img mat-card-image height="120" width="160" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p style="font-weight:bold;font-size:14px;text-transform: capitalize">
        {{name}}
      </p>
      <p>{{screen_name}}</p>
    </mat-card-content>
    <mat-card-actions>
      <div fxLayout="row" fxLayoutAlign="space-between space-between">
          <button mat-stroked-button color="primary">6 Chapter</button>
          <button mat-stroked-button color="accent">1 hr 2 min</button>
      </div>
  
    </mat-card-actions>
  </mat-card>
  